@tailwind base;
@tailwind components;
@tailwind utilities;

.Menu_active {
  @apply w-20 md:w-40 flex flex-col items-center justify-center bg-secondary text-white px-6 py-3 font-semibold shadow-lg rounded-[50%_50%_0%_0%] transition-all duration-300;
}
